/* Define constants */
$white: #ffffff;
$darkGray: #303030;
$green: #6cf5d6;
$gray: #a8a8a8;

$primary: #b2e1e8;
$secondary: #98c4e0;
$purple: #8b71b3;
$subtle: #eaeaea;

$nixie: 'Nixie One', cursive;
$roboto: 'Roboto', sans-serif;
$sans: 'Source Sans Pro', sans-serif;

$h1: 2.5em;
$h2: 1.2em;

/* Main style */
html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: $white;
  font-size: 1em;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
  cursor: default;

  section {
    width: 100%;
    position: relative;
  }

  div {
    position: relative;
  }
}

/* common classes */
.nixie {
  font-family: $nixie;
}

.roboto {
  font-family: $roboto;
}

.sans {
  font-family: $sans;
}

.hidden {
  display: none;
}

.title {
  text-transform: uppercase;
}

/* Navigation Bar */
#navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 10px 0 5px $gray;
  z-index: 100;
  background-color: $white;

  .menu {
    display: flex;
    font-family: $roboto;
    text-transform: uppercase;
    font-size: .9em;
    justify-content: center;

    .item {
      padding: 1.5em 2.4em 1.2em 2.4em;
      border-bottom: 4px solid transparent;
      color: $gray;
      justify-content: center;
      text-transform: uppercase;
      letter-spacing: 1px;
    }

    .item:hover {
      color: $primary;
      -o-transition:.2s;
      -ms-transition:.2s;
      -moz-transition:.2s;
      -webkit-transition:.2s;
      transition:.2s;
      cursor: pointer;
    }
  }
}

/* Splash Section */
section#splash {
  height: 100%;
  background-color: $primary;
  background-size: cover;
  background-position: center;

  .splash-title {
    margin: auto;
    padding-top: 45vh;
    color: $white;

    h1 {
      margin: 0;
      width: auto;
      font-size: 5em;
      text-align: center;
      font-weight: 600;
      text-shadow: 1px 1px $gray;
    }

    h2 {
      width: auto;
      font-size: 1.3em;
      font-weight: lighter;
      text-align: center;
      font-weight: 400
    }
  }
}

/* Mission section */
section#mission {
  h1 {
    margin-top: 0;
    padding-top: 96px;
    text-align: center;
    font-size: $h1;
    letter-spacing: 2px;
  }

  h2 {
    margin: 0 40px;
    margin-top: 40px;
    text-align: center;
    font-size: $h2;
    font-weight: lighter;
  }

  #goal-container {
    display: flex;
    margin: 60px 120px 0px 120px;
    padding-bottom: 96px;

    .goal {
      text-align: center;
      margin: 0 20px;

      img {
        width: 120px;
      }

      h3 {
        font-family: $nixie;
      }

      p {
        font-family: $sans;
        font-size: 1em;
        font-weight: lighter;
      }
    }
  }
}

/* Facts & Figures Section */
section#facts {
  background: url(../public/images/dark-background.svg);
  background-position: center;
  background-size: 100% auto;
  color: $white;
  padding: 96px 0;

  h1 {
    margin: 0;
    text-align: center;
    font-size: $h1;
    letter-spacing: 1px;
  }

  h2 {
    margin: 0 40px;
    margin-top: 40px;
    text-align: center;
    font-size: $h2;
    font-weight: lighter;
    color: $gray;
  }

  #fact-container {
    display: flex;
    margin: 60px 160px 0px 160px;

    .fact {
      flex: 1;
      text-align: center;
      margin: 0 20px;

      h3 {
        margin: 0;
        font-size: 3em;
        font-family: $nixie;
        color: $primary;
      }

      p {
        font-family: $sans;
        margin-top: 0;
        font-size: 1em;
        font-weight: lighter;
        color: $gray;
      }

      a {
        color: $primary;
        text-decoration: none;
      }

      a:hover {
        color: $white;
      }
    }
  }
}

/* events Section */
section#events {
  padding: 96px 0;

  h1 {
    text-align: center;
    font-size: 2.5em;
    letter-spacing: 1px;
  }

  #tab-titles {
    width: 80%;
    margin: 40px auto 0;

    li {
      a {
        color: #F47F8C;
      }
    }
  }

  .tab-content {
    font-family: $sans;
    margin-top: 30px;

    #tab {
      .upcoming {
        .heading {
          font-weight: 600;
        }
        .event {
          color: #F47F8C;
          font-weight: 600;
        }
      }
    }
  }

  #program-container {
    display: flex;
    margin: 40px 150px 0px 150px;

    .column {
      flex: 1;
      margin: 0;
      display: flex;
      flex-direction: column;

      .program {
        flex-grow: 1;
        margin: 10px;
        padding: 20px;
        display: flex;
        background: #fefefe;
        box-shadow: 0 0 2px $subtle;

        img {
          width: 60px;
          padding: 20px 30px 20px 20px;
        }


        h2 {
          font-family: $nixie;
          font-size: 1.2em;
        }

        p {
          font-family: $sans;
          font-weight: lighter;
          font-size: .9em;
        }
      }
    }
  }
  #events {
    h2 {
      padding: 20px 0;
      font-family: $nixie;
      text-transform: uppercase;
      text-align: center;
      font-size: 2em;
      letter-spacing: 1px;
    }

    #event-container {
      font-family: $sans;
      text-align: center;
      h3 {
        font-weight: 300;
        font-size: 1.3em;
      }
      .event {
        h3 {
          font-weight: 200;
          font-size: 1.2em;
        }
        padding-bottom: 20px;
      }
    }
  }
}

/* Executive Board Section */
section#exec {
  background: url(../public/images/dark-background.svg);
  background-position: center;
  background-size: 100% auto;
  text-align: center;
  padding: 96px 0;

  h1 {
    font-size: 2.5em;
    letter-spacing: 1px;
    color: $white;
  }

  #exec-positions {
    margin-top: 96px;
  }

  .row {
    margin: 40px 15vw;
    display: flex;
  }

  .two-row {
    margin: 0px 25vw;
  }

  .profile {
    flex: 1;

    img {
      height: 14vw;
    }

    .name {
      display: block;
      padding-top: 20px;
    }

    h2 {
      display: inline;
      font-family: $nixie;
      text-transform: uppercase;
      font-size: .9em;
      color: $gray;
      border-bottom: 1px solid $gray;
      padding-bottom: 2px;
    }

    h3 {
      font-family: $sans;
      text-transform: uppercase;
      font-size: .8em;
      color: $gray;
    }
  }
}

/* Resources section */
section#resources {
  padding: 96px 0;

  h1 {
    margin: 0;
    text-align: center;
    font-size: 2.5em;
    letter-spacing: 1px;
  }

  #resources-container {
    display: flex;
    margin: 40px 12vw 0;

    .column {
      flex: 1;
      margin: 20px;

      h2 {
        font-size: 1.2em;
      }

      a {
        color: $secondary;
        text-decoration: none;
      }

      a:hover{
        color: $primary;
        -o-transition:.2s;
        -ms-transition:.2s;
        -moz-transition:.2s;
        -webkit-transition:.2s;
        transition:.2s;
      }

      p {
        font-family: 'Source Sans Pro';
        font-size: 1em;
        font-weight: 300;
      }
    }
  }
}

/* Sponsors */

/* Facts & Figures Section */
section#sponsors {
  // background: url(../public/images/dark-background.svg);

  // background-position: center;
  // background-size: 100% auto;
  background-color: $white; // sets background to white
  color: $darkGray;
  padding: 96px 0;

  h1 {
    margin: 0;
    text-align: center;
    font-size: $h1;
    letter-spacing: 1px;
  }

  h2 {
    margin: 0 40px;
    margin-top: 40px;
    text-align: center;
    font-size: $h2;
    font-weight: lighter;
    color: $gray;
  }

  #sponsor-container {
    display: flex;
    margin: 60px 160px 0px 160px;

    .sponsor {
      flex: 1;
      text-align: center;
      margin: 0 20px;

      h3 {
        margin: 0;
        font-size: 3em;
        font-family: $nixie;
        color: $primary;
      }

      p {
        font-family: $sans;
        margin-top: 0;
        font-size: 1em;
        font-weight: lighter;
        color: $gray;
      }

      a {
        color: $primary;
        text-decoration: none;
      }

      a:hover {
        color: $white;
      }
    }
  }
}

/* Connect section */
section#connect {
  background: $darkGray;
  text-align: center;

  div {
    width: 100%;
    display: inline-block;

    a {
      text-decoration: none;
      color: $white;
    }

    i {
      font-size: 1.5em;
      padding: 10px;
    }
  }

  .icons {
    padding-top: 20px;
  }

  .contact-info {
    font-family: $sans;
    font-size: .8em;
    padding-bottom: 20px;
  }
}

/* Mobile */
@media only screen and (max-width: 1050px) {
  #program-container {
    display: flex;
    flex-direction: column;
  }

  #resources-container {
    display: flex;
    flex-direction: column;
  }

  #navbar {
    display: none;
  }


  section#mission #goal-container {
    flex-direction: column;
  }

  section#facts #fact-container {
    margin: 60px 100px 0px 100px;

    .fact {
      font-size: .8em;
      margin: 0 10px;
    }
  }

  section#exec {
    .row {
      margin: 20px 10vw;
    }

    .two-row {
      margin: 0px 20vw;
    }

    .profile {
      img {
        height: 16vw;
      }

      h3 {
        font-weight: 600;
        font-size: .8em;
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  section#splash .splash-title {
    h1 {
      font-size: 3em;
    }

    h2 {
      font-size: 1.1em;
      margin: 10px 60px;
    }
  }

  section#facts #fact-container {
    margin: 60px 60px 0px 60px;
    .fact {
      font-size: .7em;
      margin: 0 8px;
    }
  }

  section#events #program-container {
    display: flex;
    flex-direction: column;
    margin: 40px 80px 0px 80px
  }

  section#exec {
    .row {
      margin: 20px 10vw;
    }

    .two-row {
      margin: 0px 20vw;
    }

    .profile {
      img {
        height: 16vw;
      }

      h3 {
        font-weight: 600;
        font-size: .8em;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  section#splash .splash-title {
    h1 {
      font-size: 2.2em;
      margin: 0 20px;
    }

    h2 {
      font-size: 1.1em;
      margin: 10px 60px;
    }
  }

  section#mission #goal-container {
    margin: 40px 40px 0px 40px;
  }

  section#facts #fact-container {
    margin: 60px 20px 0px 20px;
    .fact {
      font-size: .7em;
      margin: 0 2px;
    }
  }

  section#events #program-container {
    margin: 40px 40px 0px 40px
  }

  section#exec {
    .row {
      margin: 20px 40px;
    }

    .two-row {
      margin: 0px 80px;
    }

    .profile {
      img {
        height: 18vw;
      }

      h3 {
        font-weight: 600;
        font-size: .6em;
      }
    }
  }
}
