/* Define constants */
/* Main style */
html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #ffffff;
  font-size: 1em;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome and Opera */
  cursor: default; }
  html section, body section {
    width: 100%;
    position: relative; }
  html div, body div {
    position: relative; }

/* common classes */
.nixie {
  font-family: "Nixie One", cursive; }

.roboto {
  font-family: "Roboto", sans-serif; }

.sans {
  font-family: "Source Sans Pro", sans-serif; }

.hidden {
  display: none; }

.title {
  text-transform: uppercase; }

/* Navigation Bar */
#navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 10px 0 5px #a8a8a8;
  z-index: 100; }
  #navbar .menu {
    display: flex;
    background-color: #ffffff;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-size: .9em;
    justify-content: center; }
    #navbar .menu .item {
      padding: 1.5em 2.4em 1.2em 2.4em;
      border-bottom: 4px solid transparent;
      color: #a8a8a8;
      justify-content: center;
      text-transform: uppercase;
      letter-spacing: 1px; }
    #navbar .menu .item:hover {
      color: #b2e1e8;
      -o-transition: .2s;
      -ms-transition: .2s;
      -moz-transition: .2s;
      -webkit-transition: .2s;
      transition: .2s;
      cursor: pointer; }

/* Splash Section */
section#splash {
  height: 100%;
  background: url(../assets/images/background.svg);
  background-size: cover;
  background-position: center; }
  section#splash .splash-title {
    margin: auto;
    padding-top: 45vh;
    color: #ffffff; }
    section#splash .splash-title h1 {
      margin: 0;
      width: auto;
      font-size: 5em;
      text-align: center;
      font-weight: 600;
      text-shadow: 1px 1px #a8a8a8; }
    section#splash .splash-title h2 {
      width: auto;
      font-size: 1.3em;
      font-weight: lighter;
      text-align: center;
      font-weight: 400; }

/* Mission section */
section#mission h1 {
  margin-top: 0;
  padding-top: 96px;
  text-align: center;
  font-size: 2.5em;
  letter-spacing: 2px; }
section#mission h2 {
  margin: 0 40px;
  margin-top: 40px;
  text-align: center;
  font-size: 1.2em;
  font-weight: lighter; }
section#mission #goal-container {
  display: flex;
  margin: 60px 120px 0px 120px;
  padding-bottom: 96px; }
  section#mission #goal-container .goal {
    text-align: center;
    margin: 0 20px; }
    section#mission #goal-container .goal img {
      width: 120px; }
    section#mission #goal-container .goal h3 {
      font-family: "Nixie One", cursive; }
    section#mission #goal-container .goal p {
      font-family: "Source Sans Pro", sans-serif;
      font-size: 1em;
      font-weight: lighter; }

/* Facts & Figures Section */
section#facts {
  background: url(../assets/images/dark-background.svg);
  background-position: center;
  background-size: 100% auto;
  color: #ffffff;
  padding: 96px 0; }
  section#facts h1 {
    margin: 0;
    text-align: center;
    font-size: 2.5em;
    letter-spacing: 1px; }
  section#facts h2 {
    margin: 0 40px;
    margin-top: 40px;
    text-align: center;
    font-size: 1.2em;
    font-weight: lighter;
    color: #a8a8a8; }
  section#facts #fact-container {
    display: flex;
    margin: 60px 160px 0px 160px; }
    section#facts #fact-container .fact {
      flex: 1;
      text-align: center;
      margin: 0 20px; }
      section#facts #fact-container .fact h3 {
        margin: 0;
        font-size: 3em;
        font-family: "Nixie One", cursive;
        color: #b2e1e8; }
      section#facts #fact-container .fact p {
        font-family: "Source Sans Pro", sans-serif;
        margin-top: 0;
        font-size: 1em;
        font-weight: lighter;
        color: #a8a8a8; }
      section#facts #fact-container .fact a {
        color: #b2e1e8;
        text-decoration: none; }
      section#facts #fact-container .fact a:hover {
        color: #ffffff; }

/* Programs Section */
section#programs {
  padding: 96px 0; }
  section#programs h1 {
    text-align: center;
    font-size: 2.5em;
    letter-spacing: 1px; }
  section#programs #program-container {
    display: flex;
    margin: 40px 150px 0px 150px; }
    section#programs #program-container .column {
      flex: 1;
      margin: 0;
      display: flex;
      flex-direction: column; }
      section#programs #program-container .column .program {
        flex-grow: 1;
        margin: 10px;
        padding: 20px;
        display: flex;
        background: #fefefe;
        box-shadow: 0 0 2px #eaeaea; }
        section#programs #program-container .column .program img {
          width: 60px;
          padding: 20px 30px 20px 20px; }
        section#programs #program-container .column .program h2 {
          font-family: "Nixie One", cursive;
          font-size: 1.2em; }
        section#programs #program-container .column .program p {
          font-family: "Source Sans Pro", sans-serif;
          font-weight: lighter;
          font-size: .9em; }

/* Executive Board Section */
section#exec {
  background: url(../assets/images/dark-background.svg);
  background-position: center;
  background-size: 100% auto;
  text-align: center;
  padding: 96px 0; }
  section#exec h1 {
    font-size: 2.5em;
    letter-spacing: 1px;
    color: #ffffff; }
  section#exec #exec-positions {
    margin-top: 96px; }
  section#exec .row {
    margin: 40px 15vw;
    display: flex; }
  section#exec .two-row {
    margin: 0px 25vw; }
  section#exec .profile {
    flex: 1; }
    section#exec .profile img {
      height: 14vw; }
    section#exec .profile .name {
      display: block;
      padding-top: 20px; }
    section#exec .profile h2 {
      display: inline;
      font-family: "Nixie One", cursive;
      text-transform: uppercase;
      font-size: .9em;
      color: #a8a8a8;
      border-bottom: 1px solid #a8a8a8;
      padding-bottom: 2px; }
    section#exec .profile h3 {
      font-family: "Source Sans Pro", sans-serif;
      text-transform: uppercase;
      font-size: .8em;
      color: #a8a8a8; }

/* Resources section */
section#resources {
  padding: 96px 0; }
  section#resources h1 {
    margin: 0;
    text-align: center;
    font-size: 2.5em;
    letter-spacing: 1px; }
  section#resources #resources-container {
    display: flex;
    margin: 40px 12vw 0; }
    section#resources #resources-container .column {
      flex: 1;
      margin: 20px; }
      section#resources #resources-container .column h2 {
        font-size: 1.2em; }
      section#resources #resources-container .column a {
        color: #98c4e0;
        text-decoration: none; }
      section#resources #resources-container .column a:hover {
        color: #b2e1e8;
        -o-transition: .2s;
        -ms-transition: .2s;
        -moz-transition: .2s;
        -webkit-transition: .2s;
        transition: .2s; }
      section#resources #resources-container .column p {
        font-family: 'Source Sans Pro';
        font-size: 1em;
        font-weight: 300; }

/* Connect section */
section#connect {
  background: #303030;
  text-align: center; }
  section#connect div {
    width: 100%;
    display: inline-block; }
    section#connect div a {
      text-decoration: none;
      color: #ffffff; }
    section#connect div i {
      font-size: 1.5em;
      padding: 10px; }
  section#connect .icons {
    padding-top: 20px; }
  section#connect .contact-info {
    font-family: "Source Sans Pro", sans-serif;
    font-size: .8em;
    padding-bottom: 20px; }

/* Mobile */
@media only screen and (max-width: 1050px) {
  #program-container {
    display: flex;
    flex-direction: column; }

  #resources-container {
    display: flex;
    flex-direction: column; }

  #navbar {
    display: none; }

  section#mission #goal-container {
    flex-direction: column; }

  section#facts #fact-container {
    margin: 60px 100px 0px 100px; }
    section#facts #fact-container .fact {
      font-size: .8em;
      margin: 0 10px; }

  section#exec .row {
    margin: 20px 10vw; }
  section#exec .two-row {
    margin: 0px 20vw; }
  section#exec .profile img {
    height: 16vw; }
  section#exec .profile h3 {
    font-weight: 600;
    font-size: .8em; } }
@media only screen and (max-width: 800px) {
  section#splash .splash-title h1 {
    font-size: 3em; }
  section#splash .splash-title h2 {
    font-size: 1.1em;
    margin: 10px 60px; }

  section#facts #fact-container {
    margin: 60px 60px 0px 60px; }
    section#facts #fact-container .fact {
      font-size: .7em;
      margin: 0 8px; }

  section#programs #program-container {
    display: flex;
    flex-direction: column;
    margin: 40px 80px 0px 80px; }

  section#exec .row {
    margin: 20px 10vw; }
  section#exec .two-row {
    margin: 0px 20vw; }
  section#exec .profile img {
    height: 16vw; }
  section#exec .profile h3 {
    font-weight: 600;
    font-size: .8em; } }
@media only screen and (max-width: 600px) {
  section#splash .splash-title h1 {
    font-size: 2.2em;
    margin: 0 20px; }
  section#splash .splash-title h2 {
    font-size: 1.1em;
    margin: 10px 60px; }

  section#mission #goal-container {
    margin: 40px 40px 0px 40px; }

  section#facts #fact-container {
    margin: 60px 20px 0px 20px; }
    section#facts #fact-container .fact {
      font-size: .7em;
      margin: 0 2px; }

  section#programs #program-container {
    margin: 40px 40px 0px 40px; }

  section#exec .row {
    margin: 20px 40px; }
  section#exec .two-row {
    margin: 0px 80px; }
  section#exec .profile img {
    height: 18vw; }
  section#exec .profile h3 {
    font-weight: 600;
    font-size: .6em; } }

/*# sourceMappingURL=main.css.map */
